.lp {
    h3{
        color:$color-purple;
        font-size: 1.35em;
    }
    table {
        margin-bottom: 2em;

        td {
            a {
                @include aSetting_nocolor;
                color:$aColor;
                &:hover, &:focus{
                 color:$aHover;
             }
         }
         &.date {
            text-align: center;
            white-space: nowrap;

            @include screen('mobile') {
                text-align: left;
            }
        }
        &.status {
            text-align: center;
            @include screen('mobile') {
                text-align: left;
            }
        }
        &.num, &.year, &.echelon, &.sort {
            text-align: center;
            @include screen('mobile') {
                text-align: left;
            }
        }
        table{
          margin-bottom: 0;
          background: #fff; 
      }
  }
  .no-pay{
    color:$importantColor;
}
.ok-pay{
    color:$color-green;
}
.btn-primary{
   white-space: nowrap; 
}
}
.table_list{
    .file{
        img{
            width: 26px;
            height: 28px;
            vertical-align: middle;
        }
    }
    button{
        width: 92%;
    }
}
.list {
    &>ul, ol {
        list-style-type: none;
        padding: 0;
        border-top: 2px solid $primaryColor;
        margin-bottom: 2em;

        &>li {
            padding:.5em .3em .4em;
            border-bottom: 1px solid $color-gray;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                bottom:-2px;
                left:0;
                width: 6.3em;
                height: 3px;
                background-color:$color-purple;
            }
            .tag {
                margin-left: 2em;
            }
            &>a {
                display: block;
                position: relative;
                line-height: 1.45em;
                color: $aColor;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                &:hover, &:focus
                {
                    color: $aHover;
                }
                .num {
                    width: 1.5em;
                    text-align: right;
                    position: absolute;
                    top: 0;
                    left: 0;
                    &:after {
                        content: ".";
                        display: inline-block;
                    }
                }
            }
            span.dept {
                display: inline-block;
                font-size: .938em;
                @include screen("mobile") {
                    display: block;
                }
            }
            time {
                display: inline-block;
                font-weight: bold;
                color: #4141af;
                padding:.5em 1em .5em 0;
            }

        }
    }
}
}
.album {
    margin: 1em auto;
    ul {
        @include li-reset;
        display:flex;
        flex-direction:row;
        justify-content:flex-start;
        align-items:stretch;
        flex-wrap:wrap;
        li{
            flex:0 0 30%;
            margin:0 1.66% 3%;
            display:flex;
            flex-direction:row;
            align-content: stretch;
            @include screen('tablet') {
                flex:0 0 46%;
                margin:0 2% 3%;
            }
            @include screen('mobile') {
                flex:0 0 96%;
                margin:0 3% 5%;
            }
            
        }
    }
}

//
.table_list {
    .nopadding {
        padding: 0 !important;
        border: solid 1px #ddd !important;
        @include screen('mobile') {
          border: none !important;  
      }

      &:before {
        content: '';
        display: none;
    }
}
.second_data {
    display: none;
}
.pass{
    color: $color-green;
}
.failed{
    color:$importantColor;
}
.int{
    display: block;
    font-size: .875em;
    font-weight: normal;
    white-space: nowrap;
    margin-top: -2em;
    color:$importantColor;
}
.openlink{
    display: block;
    position: relative;
    padding-left: 1.2em;
    img{
        vertical-align: middle;
        height: 1em;
        width:1em;
        position: absolute;
        left:0;
        top:.15em;
    }
}

}

.second_data {
    position: relative;
    // background: #ecfce1;
    // border: 1px solid #ddd;
    margin-bottom: 5px;
    ul{
        font-size: .938em;
        line-height: 1.6em;
        margin-right: 50px;
        // border-top: dotted 1px #ccc;
        margin: 0 60px 1em .5em;
        padding: 0;
        list-style-position: inside;
        // list-style: none;
        li{
            border-bottom: dotted 1px #ccc;
            padding: .5em 2em .5em .5em;
            position: relative;
            .fraction{
                position: absolute;
                right: .5em;
                top:.5em;
                color:$primaryColor;
            }
        }
    }
    td {
        border-right: none;
        border-left: none;
    }

    .closelink {
        position: absolute;
        right: 10px;
        top: 40%;

        a {
            display: block;
            width: 30px;
            height: 30px;
            position: relative;
            border:1px solid #ccc;
            border-radius: 5px;
            background: #eee;
            img {
                position: absolute;
                right: 0;
                left: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                width: 20px;
                height: 20px;
            }
        }
    }
}
