/////////////////////////////////////////////////////////以下為demo範例///
// 首頁區塊設定
// 範例：
.demosection {
    [class^="col"] {
        border: 2px solid #FFF;
        background: #DEDEDE;
    }
}
// 首頁輪播
.mpSlider {
    width: 100%;
    padding-bottom: 3em;
    @include gutter(0);
    .img-container {
        @include aspect-ratio(5, 2);
    }
}
// 廣告輪播
.adSlider {
    @include gutter(70px);
    margin-bottom: 20px;
    @include screen('mobile') {
        @include gutter();
    }
    .slick-prev {
        background: url(../vendor/slick/icon_arrow_left_inverse.png) no-repeat center center;
        background-size: 80%;
        left: -15px;
    }
    .slick-next {
        background: url(../vendor/slick/icon_arrow_right_inverse.png) no-repeat center center;
        background-size: 80%;
        right: -15px;
    }
    .img-container {
        width: 165px;
        height: 55px;
        margin: 0px 15px;
        a {
            display: block;
            text-align: center;
            img {
                margin: 0 auto;
            }
        }
        &:focus {
            &:before {
                content: "";
                position: absolute;
                z-index: 9;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                box-shadow: 0 0px 0px 3px $primaryColor inset;
            }
        }
    }
}

.mp_bg1{
    text-align: center;
    margin-top: -1em;
    background: url('../images/mp_bg1.jpg')no-repeat center top;
    background-size: cover;
    height: 310px;
}
.quiz{
    margin-top: -260px;
    // margin-left: 20px;
    .container{
      @include screen('mobile') {
        padding: 0;
        margin: 0 0 0 -15px;
    }
}


.quiz_1{
    background: #6161c4;
    width: 250px;
    height: 310px;
    padding: 1.7em 1.5em;
    position: relative;
    float: left;
    margin: 0 1em 1em;
    @include screen('mobile') {
        float: none;
        margin: 0 auto 1em;
    }

    &:before {
        content: '';
        width: 250px;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: -6px;
        right: 0;
        bottom: 0;
        border: 6px solid transparent;
        border-width: 6px;
        border-image: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
        border-image-slice: 1;
    }
    h2{
        color:#fff;
        font-weight: bold;
        margin: 0;
        margin-bottom: .8em;
        font-size: 1.4em;
        max-height: 3.8em;
        overflow: hidden;
    }
    .qtime{
        color: $color-yellow;
        margin: .8em 0;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 1.8em;
        border-top: solid 1px #fff;
        padding-top: .6em;
        .title{
            display: block;
        }
    }
    .reg-btn{
        background: #e2e5f6 url('../images/reg-btn.png')no-repeat left 1em top .6em;
        background-size: 32px auto;
        width: 80%;
        border-radius: 30px;
        margin: 0;
        padding: .8em 1.2em;
        color:#272727;
        font-size: 1.25em;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
        position: absolute;
        left:1.2em;
        right:1.2em;
        bottom: 1em;
        border: none;

        &:hover{
          background: #fffcc5 url('../images/reg-btn.png')no-repeat left 1em top .6em;  
      }

  }
}

.quiz_2{
    background: #00c793;
    width: 250px;
    height: 310px;
    padding: 1.7em 1.5em;
    position: relative;
    float: left;
    margin: 0 1em 1em;
    @include screen('mobile') {
        float: none;
        margin: 0 auto 1em;
    }


    &:before {
        content: '';
        width: 250px;
        height: 100%;
        margin: auto;
        position: absolute;
        top: 0;
        left: -6px;
        right: 0;
        bottom: 0;
        border: 6px solid transparent;
        border-width: 6px;
        border-image: linear-gradient(to bottom, rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
        border-image-slice: 1;
    }
    h2{
        color:#fff;
        font-weight: bold;
        margin: 0;
        margin-bottom: .8em;
        font-size: 1.4em;
        max-height: 3.8em;
        overflow: hidden;
    }
    .qtime{
        color: $color-yellow;
        margin: .8em 0;
        font-weight: bold;
        font-size: 1.125em;
        line-height: 1.8em;
        border-top: solid 1px #fff;
        padding-top: .6em;
        .title{
            display: block;
        }
    }
    .inq-btn{
        background: #d4f5bd url('../images/inquiry-btn.png')no-repeat left 1em top .6em;
        background-size: 32px auto;
        width: 80%;
        border-radius: 30px;
        margin: 0;
        padding: .8em 1.2em;
        color:#272727;
        font-size: 1.25em;
        font-weight: bold;
        text-align: right;
        cursor: pointer;
        position: absolute;
        left:1.2em;
        right:1.2em;
        bottom: 1em;
        border: none;
        &:hover{
          background: #fffcc5 url('../images/inquiry-btn.png')no-repeat left 1em top .6em;  
      }

  }
}

}

.news{
 @include screen('mobile') {
    padding-top:120px;
}

h2{
    width: 4em;
    margin: .83em auto 1.3em;
    position: relative;
    &:before{
        content:'';
        width:2em;
        height:4px;
        position: absolute;
        left:0;
        bottom: -.5em;
        background: $color-purple;
    }
    &:after{
        content:'';
        width:2em;
        height:4px;
        position: absolute;
        right:0;
        bottom: -.5em;
        background: $color-green;
    }
}
.container{
 background: #fff;
 box-shadow:0 0 10px 1px rgba(135, 135, 135, .3);
 margin: 1.5em auto 1em;
 padding: 2em 4em 1.5em;
 position: relative;

 &:before{
    content:'';
    width: 383px;
    height: 205px;
    background: url('../images/news_bg.png')no-repeat right top;
    background-size: 100% auto;
    position: absolute;
    top:-205px;
    right:10px;
    @include screen('tablet') {
      width: 283px;
      height: 105px;
      top:-105px;
      right:0px;
  }
}
@include screen('mobile') {
    padding: 2em 1em 1.5em;

}
}
.news_content{
    ul{
        list-style: none;
        padding: 0;

    }
    li{
        // overflow: hidden;
        padding:.5em .3em .4em;
        border-bottom: 1px solid $color-gray;
        position: relative;

        &:after{
            content: "";
            position: absolute;
            bottom:-2px;
            left:0;
            width: 6.3em;
            height: 3px;
            background-color:$color-purple;
        }
    }

    .activity_date{
        float: left;
        position: relative;
        @include screen('mobile') {
            border-radius:.31em;
        }
        .day{
            display: inline-block;
            font-weight: bold;
            color: #4141af;
            padding:.5em 0;
        }
        .tag1{
            background: $color-green;
            color: $color-white;
            font-weight: bold;
            padding: .1em .5em;
            border-radius: 3px;
            font-size: .875em;
            margin: 0 .5em 0 1em;
        }
        .tag2{
            background: $color-purple;
            color: $color-white;
            font-weight: bold;
            padding: .1em .5em;
            border-radius: 3px;
            font-size: .875em;
            margin: 0 .5em 0 1em;
        }
    }
    .activity_info{
        margin-left: 150px;
        @include screen('mobile') {
            margin-left: 150px;
        }
        a{
            display: block;
        }
        .activity_title{
            color: $color-word;
            font-weight: bold;
            font-size: 1.125em;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            transition: all .2s;
            padding:.5em 40px .5em 0;
            position: relative;
            &:hover{
                color: darken($primaryColor, 5);
            }
            // @include screen('mobile') {
            //     margin-right: 0;
            // }
        }
        .newicon{
            position: absolute;
            top:0;
            right:0;
        }
    }


}


}

.more {
    // float: right;
    font-size: .938em;
    text-align: center;
    margin: 25px auto 10px;
    width: 11em;
    position: relative;

    @include screen('mobile') {
        margin-bottom:20px;
    }

    a {
        color: #fff;
        vertical-align:middle;
        padding: .6em 80px .6em 1em;
        display: block;
        background: $primaryColor;
        border-radius: 30px;
        &:hover, &:focus {
            background: darken($primaryColor,10);
            &:after {
            }
        }
    }
    &:before{
        content:'';
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 0 6px;
        border-color: transparent transparent transparent #fff;
        position: absolute;
        top:1em;
        right:20px;
    }
    &:after {
        content: "";
        display: block;
        width: 52px;
        height: 2px;
        margin: 2px auto;
        background-color: #fff;
        transform-origin:50%;
        transition: all .3s;
        top:1.2em;
        right: 20px;
        position: absolute;
    }

}

.previousinfo{
    h2{
        width: 4em;
        margin: .83em auto 1.3em;
        position: relative;
        &:before{
            content:'';
            width:2em;
            height:4px;
            position: absolute;
            left:0;
            bottom: -.5em;
            background: $color-purple;
        }
        &:after{
            content:'';
            width:2em;
            height:4px;
            position: absolute;
            right:0;
            bottom: -.5em;
            background: $color-green;
        }
    }
    .container{
     background: #fff;
     box-shadow:0 0 10px 1px rgba(135, 135, 135, .3);
     margin: 1.5em auto 1em;
     padding: 2em 4em 1.5em;
     position: relative;
     &:before{
        content:'';
        width: 286px;
        height: 118px;
        background: url('../images/previousinfo_bg.png')no-repeat right top;
        background-size: 100% auto;
        position: absolute;
        bottom:-6px;
        left:-72px;
    }
    @include screen('mobile') {
        padding: 2em 0 1.5em;
    }

}

}



